@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  font-family: "Roboto Flex", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
